---
---

@import 'normalize';
@import 'solarized-light';
@import 'variables';

*,
*:after,
*:before {
        box-sizing: border-box;
}
body {
        font-size: 1.2em;
        position: relative;
        font-family: -apple-system,BlinkMacSystemFont,SegoeUI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Neue,sans-serif;
        min-height:100vh;
        color: #2c2c2c;
}
main {
        margin: 0 1em;
}
h1, h2, h3, h4 {
    margin-bottom: 0;
}
main a {
        color: $main-dark;
}
main a:hover {
        color: $main-highlight;
}
code {
    background-color: #fdf6e3;
}
.page {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

@media all and (min-width: 600px) {
    main {
            margin: 0 3em;
            padding-top: 4em;
            min-height: 100vh;
    }
}

@media all and (min-width: 960px) {
        main {
                width: 60%;
                margin: auto;
                max-width: 1200px;
        }
}
@media all and (min-width: 960px) {
}
/****** header ******/
header {
        background-color: $background-color;
        border-bottom: 3px solid $main-highlight;
        position: relative;
}
.header__logo {
        position: absolute;
}
.header__logo > img {
        max-width: 8rem;
}
.navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding: 0;
        margin: 0;
        list-style-type: none;
}
.navbar li {
        text-align: center;
}
.btn {
        text-decoration: none;
        color: $button-color;
        padding: 0.8em;
        display: block;
}
.btn:hover {
        color: $main-highlight;
}

@media all and (min-width: 600px) {
        header {
            display: flex;
            flex-direction: row;
            width: 100%;
            z-index: 1;
            transition: all 0.1s;
            position: fixed;
            top: 0;
            height: 4em;
        }
        .header__logo {
            max-width: 6rem;
            flex: 0 1 auto;
            position: static;
        }
        nav {
            width: 80%;
        }
        .navbar {
                flex-flow: row wrap;
        }
        .navbar li {
                flex: 1 1 auto;
        }
        .btn {
                padding: 1.2em;
                border-top: 4px solid $background-color;
                -webkit-transition: all 0.3s;
                transition: all 0.2s;
        }
        .btn:hover {
                border-color: $main-light;
        }
        .nav-reduce {
                height: 4em;
        }
        .nav-reduce .btn {
                padding-top: 1.2em;
                padding-bottom: 1.2em;
        }
        /* Highlighting for current section */
        .current {
                border-color: $main-highlight;
                pointer-events: none;
        }
}

@media all and (min-width: 960px) {
        .header__logo {
                width: 20%;
                max-width: 20%;
                position: absolute;
        }
        .header__logo > img {
                position: absolute;
                right: -1.5em;
                max-width: 9rem;
        }
        nav {
                margin: auto;
                width: 60%;
        }
        .nav-main {
                justify-content: space-between;
        }
        .nav-bottom {
                justify-content: flex-end;
        }
        .navbar li {
                flex: 1 1 auto;
        }
}

/****** blog ******/
.post {
    padding-bottom: 4rem;
}
.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.post-list__item {
    padding: 1em 0;
    font-size: 1.5rem;
}
.post-list__date {
    font-size: 0.8em;
    
}
.post__title {
    margin-top: 0;
    display: inline;
}
.post__date {
    color: $button-color;
    display: inline-block;
    font-size: 0.9em;
}
.post img {
    max-width: 100%;
}

/****** about me ******/
.about-me p:first-of-type {
        font-size: 1.2em;
}
.about-me p {
        margin-bottom: 1em;
}
.portrait {
        border-radius: 50%;
        max-width: 300px;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
        display: block;
}

@media all and (min-width: 600px) {
        .about-me {
                overflow: hidden; /* So parent will grow to fit floated image */
        }
        .portrait {
                float: right;
                margin-left: 1em;
        }
}

/****** portfolio ******/
.flex-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
}
.flex-cell {
        flex: 1 1 auto;
}
figure {
        width: 100%;
        min-width: 250px;
        max-width: 350px;
        border: 1px dashed $info-dark;
        position: relative;
        z-index: 0;
        margin: 0.5em;
        font-size: 1rem;
}
figure img {
        width: 90%;
        margin: 5%;
}
figure p {
    margin: 0;
}
figcaption {
        background: $background-color;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        border-top: 1px dashed $info-dark;
}
.info {
        line-height: 3em;
        color: $info-light;
}
figcaption i {
        vertical-align: middle;
        color: $info-dark;
}
figcaption i:hover {
        cursor: pointer;
        color: $button-color;
}
.overlay {
        padding: 0.5em;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $button-color;
        opacity: 0.95;
        color: $info-light;
        display: none;
        bottom: 0;
        right: 0;
}
.info-color {
        color: $button-color;
        opacity: 0.95;
}

@media all and (min-width: 600px) {
        .flex-cell {
                width: 40%;
        }
        .flex-cell {
                flex: 1 1 auto;
        }
}
@media all and (min-width: 960px) {
        .flex-row {
                justify-content: space-between;
        }
        .flex-cell {
                width: 30%;
        }
}

/****** contact ******/
@media all and (min-width: 600px) {
}
@media all and (min-width: 960px) {
}

/****** footer ******/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .btn {
    padding: 0.4em;
}
.nav-bottom {
        flex-flow: row wrap;
        justify-content: center;
}
.nav-bottom li {
        flex: 0 1 auto;
}
@media all and (min-width: 600px) {
    .nav-bottom {
        justify-content: space-between;
    }
    .nav-bottom li {
            flex: 1 1 auto;
    }
}
@media all and (min-width: 960px) {
        .nav-bottom {
                width: 60%;
                margin: auto;
        }
        .nav-bottom {
            justify-content: flex-end;
        }
        .nav-bottom li {
                flex: 0 1 auto;
        }
}

