---
---

@import 'normalize';
@import 'variables';

*,
*:after,
*:before {
        box-sizing: border-box;
}
ul {
    margin: 0;
}
h1, h2, p, figure {
        margin: 0;
        display: block;
        width: 100%;
}
body {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
        position: relative;
}
h1, h2, h3, h4, h5 ,h6 {
        font-family: 'Playfair Display', serif;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,SegoeUI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Neue,sans-serif;
    font-weight: 200;
}
main {
        margin: 0 1em;
        display: flex;
}
h1, h2 {
        margin-bottom: 1em;
}
main a {
        color: $main-highlight;
        text-decoration: none;
}
main a:hover {
        color: $main-light;
        text-decoration: underline;
}
.page {
    padding-top: 2em;
}

@media all and (min-width: 600px) {
    main {
            margin: 0 3em;
            padding-top: 4em;
            padding-bottom: 0;
            min-height: 100vh;
    }
}

@media all and (min-width: 960px) {
        main {
                width: 60%;
                margin: auto;
                max-width: 1200px;
        }
        main {
                padding-top: 6em;
        }
}

/****** navigation ******/
header {
        background-color: $background-color;
        border-bottom: 3px solid $main-highlight;
}
.navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding: 0;
        margin: 0;
        list-style-type: none;
}
.navbar li {
        text-align: center;
}
.btn {
        text-decoration: none;
        color: $button-color;
        padding: 0.8em;
        display: block;
}
.btn:hover {
        color: $main-highlight;
}

@media all and (min-width: 600px) {
        .navbar {
                flex-flow: row wrap;
        }
        .navbar li {
                flex: 1 1 auto;
        }
        .btn {
                padding: 1.2em;
                border-top: 4px solid $background-color;
                -webkit-transition: all 0.3s;
                transition: all 0.2s;
        }
        .btn:hover {
                border-color: $main-light;
        }
        header {
                width: 100%;
                z-index: 1;
                transition: all 0.1s;
                position: fixed;
                top: 0;
                height: 4em;
        }
        .nav-reduce {
                height: 4em;
        }
        .nav-reduce .btn {
                padding-top: 1.2em;
                padding-bottom: 1.2em;
        }
        /* Highlighting for current section */
        .current {
                border-color: $main-highlight;
                pointer-events: none;
        }
}

@media all and (min-width: 960px) {
        header {
                height: 6em;
        }
        .nav-main {
                justify-content: space-between;
                width: 60%;
                margin: auto;
        }
        .nav-bottom {
                justify-content: flex-end;
        }
        .navbar li {
                flex: 1 1 auto;
        }
        .btn {
                padding: 2em;
        }
}

/****** about me ******/
.about-me p:first-of-type {
        font-size: 1.2em;
}
.about-me p {
        margin-bottom: 1em;
}
.portrait {
        border-radius: 50%;
        max-width: 300px;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
        display: block;
}

@media all and (min-width: 600px) {
        .about-me {
                overflow: hidden; /* So parent will grow to fit floated image */
        }
        .portrait {
                float: right;
                margin-left: 1em;
        }
}

/****** portfolio ******/
.flex-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
}
.flex-cell {
        flex: 0 1 auto;
}
figure {
        width: 100%;
        min-width: 150px;
        max-width: 400px;
        border: 1px dashed $info-light;
        position: relative;
        z-index: 0;
        margin-bottom: 1em;
}
figure:last-of-type {
    margin-bottom: 0em;
}
figure img {
        width: 90%;
        margin: 5%;
}
figcaption {
        background: $background-color;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        border-top: 1px dashed $info-light;
}
.info {
        line-height: 3em;
        color: $info-highlight;
}
figcaption i {
        vertical-align: middle;
}
figcaption i:hover {
        cursor: pointer;
        color: $button-color;
}
.overlay {
        padding: 0.5em;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $button-color;
        opacity: 0.95;
        color: $info-highlight;
        display: none;
        bottom: 0;
        right: 0;
}
.info-color {
        color: $button-color;
        opacity: 0.95;
}

@media all and (min-width: 600px) {
        .flex-row {
                justify-content: space-between;
        }
        .flex-cell {
                width: 48%;
        }
        figure:last-of-type {
            margin-bottom: 1em;
        }
}
@media all and (min-width: 960px) {
        .flex-row {
                justify-content: space-between;
        }
        .flex-cell {
                width: 48%;
        }
}

/****** contact ******/
@media all and (min-width: 600px) {
}
@media all and (min-width: 960px) {
}

/****** footer ******/
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
footer .btn {
    padding: 0.4em;
}
.nav-bottom {
        flex-flow: row wrap;
        justify-content: center;
}
.nav-bottom li {
        flex: 0 1 auto;
}
.portfolio, .contact { /* makes space for the footer */
    margin-bottom: 3rem;
}
@media all and (min-width: 600px) {
    .nav-bottom {
        justify-content: space-between;
    }
    .nav-bottom li {
            flex: 1 1 auto;
    }
}
@media all and (min-width: 960px) {
        .nav-bottom {
                width: 60%;
                margin: auto;
        }
        .nav-bottom {
            justify-content: flex-end;
        }
        .nav-bottom li {
                flex: 0 1 auto;
        }
}

