*,
*:after,
*:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
h1, h2, p, figure {
        margin: 0;
        display: block;
        width: 100%;
}
body {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
}
h1, h2, h3, h4, h5 ,h6 {
        font-family: 'Playfair Display', serif;
}
main {
        margin: 0 1em;
}
section {
        padding-top: 2em;
}
section:last-child {
        padding-bottom: 2em;
}
h1, h2 {
        margin-bottom: 1em;
}
main a {
        color: #2bb353;
        text-decoration: none;
}
main a:hover {
        color: #4ae383;
        text-decoration: underline;
}

@media all and (min-width: 500px) {
        section {
                padding-top: 4em;
        }
        section:last-child {
                padding-bottom: 4em;
        }
}

@media all and (min-width: 800px) {
        main {
                width: 60%;
                margin: auto;
                max-width: 1200px;
        }
        section {
                padding-top: 6em;
        }
        section:last-child {
                padding-bottom: 6em;
        }
}

/****** navigation ******/
.navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding: 0;
        margin: 0;
        background: #fff;
        list-style-type: none;
}
.navbar li {
        text-align: center;
}
.btn {
        text-decoration: none;
        color: #415b59;
        padding: 0.8em;
        display: block;
        border-top: 2px solid #fff;
}
.btn:hover {
        border-top: 2px solid #4ae383;
        color: #2bb353;
}

@media all and (min-width: 500px) {
        .navbar {
                flex-flow: row wrap;
        }
        .navbar li {
                flex: 1 1 auto;
        }
        .btn {
                padding: 1.2em;
        }
        section:first-child { /* Fixes spacing between navbar and first child*/
                margin-top: 3.4em;
        }
        header {
                background: #fff;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1;
                border-bottom: 8px solid #2bb353;
        }
        /* Highlighting for current section */
        .current {
                background-color: #fff;
                border-top: 2px solid #2bb353;
                pointer-events: none;
        }
}

@media all and (min-width: 800px) {
        .nav-main {
                justify-content: flex-start;
                width: 60%;
                margin: auto;
                font-weight: bold;
        }
        .nav-bottom {
                justify-content: flex-end;
        }
        .navbar li {
                flex: 0 1 auto;
                max-width: 33%;
        }
        .btn {
                padding: 2em;
        }
        section:first-child { /* Fixes spacing between navbar and first child*/
                margin-top: 5em;
        }
}

/****** about me ******/
.about-me p:first-of-type {
        font-size: 1.2em;
}
.about-me p {
        margin-bottom: 1em;
}
.portrait {
        border-radius: 50%;
        max-width: 300px;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
        display: block;
}

@media all and (min-width: 500px) {
        #about-me{
                overflow: hidden; /* So parent will grow to fit floated image */
        }
        .portrait {
                float: right;
                margin-left: 1em;
        }
}

/****** portfolio ******/
.flex-row {
        display: flex;
        flex-flow: row wrap;
}
.flex-cell {
        flex: 0 1 auto;
}
figure {
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        border: 5px solid #f7f7f7;
        position: relative;
        z-index: 0;
        margin-bottom: 4em;
}
section:last-child { /* Fixes spacing at end of portfolio */
        margin-top: -4em;
}
figure img {
        width: 90%;
        margin: 5%;
}
figcaption {
        background: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
}
.info {
        line-height: 3em;
        color: #dfdfdf;
}
figcaption i {
        vertical-align: middle;
}
figcaption i:hover {
        cursor: pointer;
        color: #415b59;
}
.overlay {
        padding: 0.5em;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #415b59;
        opacity: 0.95;
        color: #f7f7f7;
        display: none;
        bottom: 0;
        right: 0;
}
.info-color {
        color: #415b59;
        opacity: 0.95;
}

@media all and (min-width: 500px) {
}
@media all and (min-width: 800px) {
        .flex-row {
                justify-content: space-between;
        }
        .flex-cell {
                width: 48%;
        }
}

/****** contact ******/
@media all and (min-width: 500px) {
}
@media all and (min-width: 800px) {
}

/****** footer ******/
@media all and (min-width: 500px) {
}
@media all and (min-width: 800px) {
        footer {
                background: #fff;
        }
        .nav-bottom {
                width: 60%;
                margin: auto;
        }
}

