<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link href={{ "/css/main.css" | absolute_url }} rel="stylesheet">
    <script src="https://use.fontawesome.com/025a404d30.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src={{ "/main.js" | absolute_url }}></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar nav-main">
          <li><a class="btn {% if page.url == '/' %}current{% endif %}" href={{ "/" | absolute_url }}>Blog</a></li>
          <li><a class="btn {% if page.url == '/portfolio.html' %}current{% endif %}" href={{ "/portfolio" | absolute_url }}>Portfolio</a></li>
          <li><a class="btn {% if page.url == '/about.html' %}current{% endif %}" href={{ "/about" | absolute_url }}>About</a></li>
          <li><a class="btn {% if page.url == '/contact.html' %}current{% endif %}" href={{ "/contact" | absolute_url }}>Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <ul class="nav-bottom navbar">
        <li><a class="btn" href="https://github.com/dangerdak" target="_blank" aria-label="Visit Github account" title="Github"><i class="fa fa-github"></i></a></li>
        <li><a class="btn" href="https://twitter.com/dangerdak" target="_blank" aria-label="Visit Twitter account" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a class="btn" href="https://www.linkedin.com/in/dakshina-scott-141782137/" target="_blank" aria-label="Visit LinkedIn account" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </footer>
  </body>
</html>

